@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Main header font */
.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Fallback */
.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    font-family: "Bungee Spice", "Rubik", sans-serif;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header > h1 {
    padding-top: 10px;
    margin-bottom: 20px;
}

.header > p {
    padding-bottom: 20px;
}

.fetching-loading, .fetching-error {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "Bungee Spice", "Rubik", sans-serif;
    padding: 20px;
    font-size: 30px;
}

.fetching-error {
    font-family: "Rubik", sans-serif;
    color: red;
}

.pokemons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 210px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    font-family: "Bungee Spice", "Rubik", sans-serif;
}

.card:hover {
    box-shadow: 0 0 10px rgb(245, 118, 74);
}


.score-board {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-family: "Bungee Spice", sans-serif;
}

.score-board > p {
    margin: 5px;
}

.hr-tag > hr {
    width: 50%;
    border-color: orange;
}

.hr-tag {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .pokemons {
        display: flex;
        justify-content: center;
    }
}